absl-py==1.4.0
annotated-types==0.5.0
anyio==3.7.1
argon2-cffi
argon2-cffi-bindings
asttokens==2.2.1
astunparse==1.6.3
attrs==23.1.0
Babel
backcall==0.2.0
beautifulsoup4
bleach
boltons
brotlipy==0.7.0
cachetools==5.3.0
certifi==2023.7.22
cffi
charset-normalizer==3.2.0
click==8.1.6
click-config-file==0.6.0
click-plugins==1.1.1
colorama
comm==0.1.3
conda==4.3.16
conda-content-trust
conda-package-handling
conda_package_streaming
configobj==5.0.8
# contourpy==1.0.7
cryptography
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml
entrypoints
exceptiongroup==1.1.2
executing==1.2.0
fastapi==0.101.1
fastjsonschema
filelock==3.12.2
flatbuffers==23.3.3
flit_core
fonttools==4.39.3
fsspec==2023.9.0
gast==0.4.0
google-auth==2.17.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.53.0
h11==0.14.0
h5py==3.8.0
huggingface-hub==0.16.4
humanize==4.8.0
idna
imageio==2.27.0
imutils==0.5.4
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils
ipywidgets
jax==0.4.8
jedi==0.18.2
Jinja2
joblib==1.2.0
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==2.12.0
kiwisolver==1.4.4
lazy_loader==0.2
libclang==16.0.0
lxml
Markdown==3.4.3
MarkupSafe
matplotlib
matplotlib-inline==0.1.6
menuinst
mistune
ml-dtypes==0.0.4
mpmath==1.3.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio==1.5.6
networkx==3.1
notebook
notebook_shim
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.7.0.72
opt-einsum==3.3.0
outcome==1.2.0
packaging
pandas==2.0.3
pandocfilters
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.2.0
pluggy
ply==3.11
prometheus-client
prompt-toolkit==3.0.38
protobuf==4.22.1
psutil==5.9.4
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat
pycparser
pydantic==2.1.1
pydantic_core==2.4.0
Pygments==2.14.0
pyOpenSSL
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-sip
pyrsistent
PySocks
python-dateutil
python-dotenv==1.0.0
python-version==0.0.2
pytz
PyWavelets==1.4.1
pywin32==306
pywinpty
PyYAML==6.0.1
pyzmq==25.0.2
qtconsole
QtPy
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml
ruamel.yaml.clib
safetensors==0.3.3
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
selenium==4.11.2
Send2Trash
sip
six
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve
stack-data==0.6.2
starlette==0.27.0
sympy==1.12
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado
threadpoolctl==3.1.0
tifffile==2023.3.21
tinycss2
tokenizers==0.13.3
toml
tomli
toolz
torch==2.0.1
tornado==6.2
tqdm
traitlets==5.9.0
transformers==4.33.1
trio==0.22.2
trio-websocket==0.10.3
twarc==2.14.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
uvicorn==0.23.2
wcwidth==0.2.6
webencodings==0.5.1
websocket-client
Werkzeug==2.2.3
widgetsnbextension
win-inet-pton
wincertstore==0.2
wrapt==1.14.1
wsproto==1.2.0
zstandard==0.18.0